.add-user {
    justify-self: end;
    display: flex;
    margin: 20px;
}

.table-holder {
  width: 90%;
  margin: auto;

  table {
    background-color: transparent;

    .action-column {
      width: 250px;
    }
  }

  .no-users {
    text-align: center;
  }
}
  